body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

div.centered {
  height: 10em;
  position: relative
}

div.centered p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
